name: Deploy Web to GitHub Pages

on:
  push:
    branches:
      - main

env:
  FLUTTER_VERSION: "3.38.9"

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          cache: true

      - run: pkill -f dart || true
      - run: flutter pub get

      - name: Build Web
        run: |
          flutter build web --release \
            --base-href "/${{ github.event.repository.name }}/"

      - uses: actions/upload-pages-artifact@v3
        with:
          path: build/web

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
    steps:
      - uses: actions/deploy-pages@v4
